* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid black;
  border-radius: 50px;
  width: 400px;
  height: 600px;
  padding: 25px;
}

.container.colored0 {
  background-color: rgb(185, 239, 185);
  box-shadow: 0px 0px 25px rgb(233, 83, 8);
}

.container.colored1 {
  background-color: rgb(237, 120, 233);
  box-shadow: 0px 0px 25px rgb(233, 214, 8);
}

.container.colored2 {
  background-color: rgb(120, 151, 237);
  box-shadow: 0px 0px 35px rgb(72, 8, 233);
}

#display {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: aliceblue;
  border: 1px solid black;
  margin-top: 35px;
  margin-bottom: 50px;
  padding: 10px;
  height: 74px;
}

#opp {
  text-align: center;
  color: rgb(77, 75, 75);
  height: 50%;
}

#result {
  color: blue;
  font-size: 25px;
  text-align: right;
  font-weight: 800;
}

#numberField {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(222, 49, 49);
  height: auto;
}

#row {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(235, 134, 134);
}

button {
  /* flex-grow: 1; */
  margin: 5px;
  border: none;
  border-radius: 30%;
  min-width: 54px;
  min-height: 60px;
}

button:hover {
  /* margin: 0; */
  transform: scale(1);
  border: 3px solid rgb(235, 71, 7);
  /* background-color: aliceblue; */
}

button:active {
  background-color: rgb(244, 224, 158);
}

button#gleich {
  background-color: rgb(243, 194, 36);
}

button#gleich:active {
  background-color: rgb(235, 85, 9);
}

button#color {
  font-size: 16px;
  color: blue;
}

button#color:active {
  background-color: rgb(10, 158, 244);
}
