* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid black;
  border-radius: 50px;
  width: 400px;
  height: 600px;
  padding: 25px;
}

.container.colored0 {
  background-color: rgb(185, 239, 185);
  box-shadow: 0px 0px 25px rgb(233, 83, 8);
}

.container.colored1 {
  background-color: rgb(237, 120, 233);
  box-shadow: 0px 0px 25px rgb(233, 214, 8);
}

.container.colored2 {
  background-color: rgb(120, 151, 237);
  box-shadow: 0px 0px 35px rgb(72, 8, 233);
}

#display {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: aliceblue;
  border-radius: 8px;
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 45px;
  padding: 10px;
  height: 93px;
  overflow: auto;
  white-space: nowrap;
}

#opp {
  text-align: center;
  color: rgb(77, 75, 75);
  height: 50%;
  font-size: 25px;
  
}

#result {
  color: blue;
  font-size: 30px;
  text-align: right;
  font-weight: 800;
}

#numberField {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(222, 49, 49);
  height: auto;
  cursor: pointer;
  border-radius: 10px;
}

#row {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(235, 134, 134);
  border-radius: 10px;
}

button {
  /* flex-grow: 1; */
  margin: 5px;
  border: none;
  border-radius: 30%;
  min-width: 54px;
  min-height: 60px;
  transition: 50ms;
}

button:hover {
  transform: scale(1);
  border: 3px solid rgb(235, 71, 7);
  cursor: pointer;
}

button:active {
  background-color: rgb(244, 224, 158);
}

button#enter {
  background-color: rgb(243, 194, 36);
}

button#enter:active {
  background-color: rgb(235, 85, 9);
}

button#color {
  font-size: 16px;
  color: blue;
}

button#color:active {
  background-color: rgb(10, 158, 244);
}
